backend/chatbot/venv/pyvenv.cfg
backend/chatbot/venv/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-311.pyc
backend/chatbot/venv/Scripts/activate
backend/chatbot/venv/Scripts/activate.bat
backend/chatbot/venv/Scripts/Activate.ps1
backend/chatbot/venv/Scripts/python.exe
backend/chatbot/venv/Scripts/pythonw.exe
